doctype html
html
  head
    meta(charset='utf-8')
    title= title
    include /include/stylesheet.jade
  body
    h1= title
    p index #{title}
    div(id="send") send
    div(id="res") response
    script(src="/js/ws.js")
